In [91]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
df=pd.read_csv('Car_sales.csv')
df.dtypes
dg=df.drop(columns=['Manufacturer','Sales_in_thousands','__year_resale_value','Latest_Launch','Power_perf_factor','Vehicle_type','Price_in_thousands'])
h=dg.drop(columns=['Horsepower','Wheelbase','Width','Length','Curb_weight','Engine_size'])
h.Fuel_capacity=h.Fuel_capacity.astype('float')
h.Fuel_efficiency=h.Fuel_efficiency.astype('float')
x=h.drop(columns=['Model'])
y=h.Model
model=DecisionTreeClassifier()
model.fit(x,y)
car=model.predict([[13,23],[16,23]])
car

array(['LW', 'Tacoma'], dtype=object)

In [79]:
h

       Model  Fuel_capacity  Fuel_efficiency
0    Integra           13.2             28.0
1         TL           17.2             25.0
2         CL           17.2             26.0
3         RL           18.0             22.0
4         A4           16.4             27.0
..       ...            ...              ...
152      V40           15.8             25.0
153      S70           17.9             25.0
154      V70           17.9             25.0
155      C70           18.5             23.0
156      S80           21.1             24.0

[157 rows x 3 columns]

In [87]:
df.head(123)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,Pontiac,Sunfire,51.645,13.790,Passenger,21.610,2.4,150.0,104.1,68.4,181.9,2.906,15.0,27,1/25/2012,62.015870
119,Pontiac,Grand Am,131.097,10.290,Passenger,19.720,3.4,175.0,107.0,70.4,186.3,3.091,15.2,25,11/26/2012,70.389737
120,Pontiac,Firebird,19.911,17.805,Passenger,25.310,3.8,200.0,101.1,74.5,193.4,3.492,16.8,25,6/16/2012,81.492726
121,Pontiac,Grand Prix,92.364,14.010,Passenger,21.665,3.8,195.0,110.5,72.7,196.5,3.396,18.0,25,10/15/2012,78.318168
122,Pontiac,Bonneville,35.945,13.225,Passenger,23.755,3.8,205.0,112.2,72.6,202.5,3.590,17.5,24,5/18/2011,82.661356